[Desktop Entry]
Type=Application
Name=Show Desktop
Icon=show-desktop-off
Exec=bash -c "$HOME/.local/bin/toggle-desktop.sh"
Terminal=false
Categories=Utility;
