[Desktop Entry]
Type=Application
Name=Show Desktop
Icon=radio-symbolic
Exec=bash -c "$HOME/.local/bin/toggle-desktop.sh"
Terminal=false
Categories=Utility;
